{% extends 'museum/base.html' %}


{% block content %}

<style>
  .pc {
    margin-right: auto;
    margin-left: auto;
    display: block !important; 
    
    }
  .sp { 
    margin-right: auto;
    margin-left: auto;
    display: none !important; 
    
  }
  
  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
  @media only screen and (max-width: 750px) {
  .pc {
    margin-right: auto;
    margin-left: auto;;
    display: none !important; 
    
    }
  .sp { 
    margin-right: auto;
    margin-left: auto;
    display: block !important; 
    
  }
}
</style>
    <div class="row mb-2">
        <div class="container marketing">
            
            
            <!-- START THE FEATURETTES -->
            
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <!-- <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2> -->
                <img  src="https://drive.google.com/uc?export=view&id={{ news.picturefornews.first.avator }}&usp=sharing" alt="Generic placeholder image" height="250" width="auto">
                
              </div>
              <div class="col-md-5">
                
                <p class="lead">               
                    <a>{{ news.title }}</a><br>
                    <a><small>{{ news.text }}</small></a><br>
                    
                </p>
              </div>
            </div>
            
        
            <hr class="featurette-divider">
        
            <!-- /END THE FEATURETTES -->
        
          </div><!-- /.container -->
      　
    </div>
    


          <div class="container">
        
            <div class="row">
              {% for news in picturefornews %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm" >
                  <div style="text-align: center; margin-top: 15px;">
                    <img class="pc" src="https://drive.google.com/uc?export=view&id={{ news.avator }}&usp=sharing" alt="Generic placeholder image" height="150" width="auto" >
                    <img class="sp" src="https://drive.google.com/uc?export=view&id={{ news.avator }}&usp=sharing" alt="Generic placeholder image" height="auto" width="auto" >
                  </div>
                  <div class="card-body">
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                        
                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                        
                      </div>
                      <!-- <small class="text-muted">9 mins</small> -->
                      
                    </div>
                  </div>
                  
                </div>
              </div>
              {% endfor %}
              
            </div>
          </div>
        </div>
    
       
{% endblock %}